<form method="post" action="{{ site.url }}/wp-login.php?action=postpass">
    <label for="post_password">
        {{ 'Password' }}
    </label>
    <input type="password" name="post_password" id="post_password">
        <input type="submit" name="Submit" value="{{ 'Submit' }}"></form>
        